<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="application/javascript" src="{% static 'checkin.js' %}"></script>
    <meta charset="UTF-8">
    <title>签到页面</title>
    <script>
        {% autoescape off %}
            let model = {
                token: {{ token }},
                course: {{ course_json }}
            }
        {% endautoescape %}
    </script>
</head>
<body>

<div class="modal fade" id="modifyModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="modifyModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyModalHead">新建签到</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputState">签到方式</label>
                            <select id="inputState" class="form-control">
                                <option selected value="1">自拍</option>
                                <option value="2">拍同学</option>
                                <option value="3">被同学拍</option>
                                <option value="4">拍老师</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputZip">拍照数量</label>
                            <input type="number" class="form-control" id="inputZip">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="checkin()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/page/courses?token={{ token }}">课程列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.name }}签到</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h1>{{ course.name }}的签到</h1>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">签到方式</th>
            <th scope="col">拍照数量</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for checkin in checkinList %}
            <tr>
                <td>{{ checkin.id }}</td>
                <td>{{ checkin.start_time }}</td>
                <td>
                    {{ checkin.end_time }}
                </td>
                <td>
                    {% if checkin.method == 1 %}
                        自拍
                    {% elif checkin.method == 2 %}
                        拍别人
                    {% elif checkin.method == 3 %}
                        被别人拍
                    {% elif checkin.method == 4 %}
                        拍老师
                    {% endif %}
                </td>
                <td>{{ checkin.count }}</td>
                <td>
                    {% if checkin.end_time == None %}
                        <button class="btn btn-danger" onclick="stop_checkin()">结束签到</button>
                    {% else %}
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/page/result?id={{ checkin.id }}&token={{ token }}">详情</a>
                            <span class="btn btn-info">关系图</span>
                        </div>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if not checking %}
    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#modifyModal">开始签到</button>
{% endif %}
</div>
</body>
</html>