<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script type="application/javascript" src="{% static 'code.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        {% autoescape off %}
            let model = {
                token: {{ token }},
                user: {{ user_json }},
                courses: {{ courses_json }}
            }
        {% endautoescape %}
    </script>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="modifyModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="modifyModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyModalHead">修改课程</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">课程名称</span>
                    </div>
                    <input type="text" class="form-control" placeholder="CourseName" aria-label="CourseName"
                           aria-describedby="basic-addon1" id="courseName">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">任课教师</span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ user.name }}" aria-label="TeacherName"
                           value="{{ user.name }}"
                           aria-describedby="basic-addon2" id="TeacherName" disabled>
                </div>
                <div class="form-row mb-2" id="modalTimeHead">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="start_week" value="起始周" disabled>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="end_week" value="结束周" disabled>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="day" value="星期" disabled>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="start_time" value="开始时间" disabled>
                    </div>
                    <div class="col timepicker">
                        <input type="text" class="form-control" placeholder="end_time" value="结束时间" disabled>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-success" onclick="addTimeList()">+</button>
                    </div>
                </div>
                <div id="modalTimeList">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalSaveButton">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="courses?token={{ token }}">课程列表</a></li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h1>课程列表</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">名称</th>
            <th scope="col">时间</th>
            <th scope="col">签到</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>
                    {% for t in course.times %}
                        {{ t.start_week }}-{{ t.end_week }}周&nbsp;星期{{ t.day }}&nbsp;{{ t.start_time }}-{{ t.end_time }}
                        <br/>
                    {% endfor %}
                </td>
                <td><a class="btn btn-primary" href="checkin?token={{ token }}&course={{ course.id }}">开始签到</a></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyModal"
                                onclick="modifyCourse({{ course.id }})">
                            修改
                        </button>
                        <a class="btn btn-warning" href="students?token={{ token }}&course={{ course.id }}">学生列表</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-success" data-toggle="modal" data-target="#modifyModal" onclick="createCourse()">添加课程
    </button>
</div>
</body>
</html>