<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.name }}学生列表</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script type="application/javascript" src="{% static 'code.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        {% autoescape off %}
            let model = {
                token: {{ token }},
                course: {{ course_json }}
            }
        {% endautoescape %}
    </script>
    <script src="{% static 'student-list.js' %}"></script>
</head>
<body>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="imgModal" src="" alt="未上传照片">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="courses?token={{ token }}">课程列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">学生列表</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h1>{{ course.name }}的学生列表</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">学号</th>
            <th scope="col">姓名</th>
            <th scope="col">照片</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for stu in students %}
            <tr>
                <td>{{ stu.id }}</td>
                <td>{{ stu.name }}</td>
                <td>
                    {% if stu.image %}
                        <img id="img_{{ stu.id }}" width=40 height=40 src="{{ stu.image }}" alt="未上传照片"
                             onclick="showmax('img_{{ stu.id }}')"/></td>
                    {% else %}
                        <span>未上传照片</span>
                    {% endif %}
                <td>
                    <button class="btn btn-danger" onclick="doDelStudent('{{ stu.id }}')">删除</button>
                </td>
            </tr>
        {% endfor %}
        <tr id="new-student" style="display: none;">
            <td><label><input id='new-student-id' type="text" placeholder="学号"/></label></td>
            <td><label><input id='new-student-name' type="text" placeholder="姓名"/></label></td>
            <td><i>请在移动端上传照片</i></td>
            <td>
                <button class="btn btn-info" onclick="doAddStudent()">保存</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn btn-group">
        <button class="btn btn-success" onclick="addStudent()">添加学生</button>
        <button class="btn btn-info">导入文件<input type="file" name="file" onchange="upload(this)"></button>
    </div>
</div>
</body>
<style>
    input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
</style>
</html>
